[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "22"
  NEXT_PUBLIC_BACKEND_URL = "https://verifi-9z6m.onrender.com"

[[plugins]]
  package = "@netlify/plugin-nextjs"
